{% extends 'view/template.html.jinja' %}

{% block headScript %}
<script src="static/js/view_formBuilder.js"></script>
{% endblock %}

{% block body %}
<form method="POST" action="formReciever">
  <select id="endpointSelector"></select>
</form>
<div id="updateableImageContainer">
  <div id="imageWrapper">
    <img id="userImage" />
  </div>
</div>
{% endblock %}
